<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1><%= title %> </h1>
  <form action="/workouts/<%= workout._id %>?_method=PUT" method="POST">
    <label >
      Date of workout:
      <input type="date" name="workoutDate">
    </label>

    <label>
      Difficulty: 
      <input type="number" name="difficulty" min="1" max="5" value="<%= workout.difficulty %>">
    </label>
    
    <label>
      Duration(in Min):
      <input type="number" name="duration" value="<%= workout.duration %>"> 
    </label>

    <label>
      Description:
      <input type="text" name="description" value="<%= workout.description %>">
    </label>
    <button type="submit">Save Workout</button>
  </form>
</main>



<%- include('../partials/footer') %>