<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/workouts/show.css">
<%- include('../partials/nav') %>

<main>
  <h1>Workout Completed on, <%= workout.workoutDate %> </h1>

  <section class="workout-details">
    <div>Difficulty:</div>
    <div><%= workout.difficulty %> </div>
    <div>Duration:</div>
    <div><%= hours %> <%= hours === 1 ? 'hour' : 'hours' %>,  <%= mins %>  <%= mins === 1 ? 'minute' : 'minutes' %> </div>
    <div>Description:</div>
    <div><%= workout.description %> </div>
  </section>
  <form action="/workouts/<%= workout._id %>/edit" method="get">
    <button class="btn btn-primary">Edit Workout</button>
  </form>
  <section>
    <h2>Exercises</h2>
    <form action="/workouts/<%= workout._id %>/exercises" method="POST" class="exercises-form">
      <div class="input-group mb-3">
        <span class="input-group-text" id="addon-wrapping">Activity</span>
        <input type="text" name="activity" class="form-control" aria-describedby="addon-wrapping">
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text" id="addon-wrapping">Targets</span>
        <input type="text" name="target" class="form-control" >
      </div>


      <button class="btn btn-primary" type="submit">Add Exercise</button>
    </form>
    <br>
    <% if (workout.exercises.length) { %>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Activity</th>
            <th>Targets</th>
            <th>Sets</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% workout.exercises.forEach(exercise => { %>
            <tr>
              <td><%= exercise.activity %> </td>
              <td><%= exercise.target %> </td>
              <td><%= exercise.sets.length %> </td>
              <td>
                <a href="/workouts/<%= workout._id %>/exercises/<%= exercise._id %>">
                  <button class="btn btn-primary">Details</button>
                </a>
              </td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    <% } else { %> 
      <h3>No Exercises Yet</h3>
    <% } %>
  </section>


</main>

<%- include('../partials/footer') %>
