<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1>Details for workout done, <%= workout.workoutDate %> </h1>
  <form action="/workouts/<%= workout._id %>/edit" method="get">
    <button>Edit Workout</button>
  </form>
  <section>
    <div>Difficulty:</div>
    <div><%= workout.difficulty %> </div>
    <div>Duration:</div>
    <div><%= workout.duration %> </div>
    <div>Description:</div>
    <div><%= workout.description %> </div>
    <!-- <div>Exercises:</div>
    <div><%= workout.exercises.length >= 1 ? workout.exercises : 'No exercises recorded' %></div> -->
  </section>

  <section>
    <h2>Exercises</h2>
    <form action="/workouts/<%= workout._id %>/exercises" method="POST">
      <label>
        Activity: 
        <input type="text" name="activity" id="">
      </label>

      <label>
        Target:
        <input type="text" name="target" id="">
      </label>

      <button type="submit">Add Exercise</button>
    </form>
    <br>
    <% if (workout.exercises.length) { %>
      <table>
        <thead>
          <tr>
            <th>Activity</th>
            <th>Targets</th>
            <th>Sets</th>
          </tr>
        </thead>
        <tbody>
          <% workout.exercises.forEach(exercise => { %>
            <tr>
              <td><%= exercise.activity %> </td>
              <td><%= exercise.target %> </td>
              <td>
                <a href="/workouts/<%= workout._id %>/exercises/<%= exercise._id %>/newset">
                  <button>Add set</button>
                </a>
              </td>
            </tr>
          <% }) %>
        </tbody>
      </table>
    <% } else { %> 
      <h3>No Exercises Yet</h3>
    <% } %>
  </section>


</main>

<%- include('../partials/footer') %>
