<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main id="main">
  <h1>Welcome, to your personal tracker</h1>
  <% if (user?.profile.avatar) { %>
    <h2><%= user.profile.name %> </h2>
    <div>
      <img
        src="<%= user.profile.avatar %>"
        alt="<%= user.profile.name %> avatar"
      />
    </div>
  <% }else { %>
    <div class="welcome">
      <h2 >Track Your Workouts</h3>
      <p >Where you can track personal workouts and be able to see your improvement </p>
      <p >Sign in to start tracking!</p>
    </div>
    <div>
      <img class="homepage"  src="/images/welcome.png" alt="workout">
    </div>
  <% } %> 

</main>

<%- include('./partials/footer') %>
