<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1>Details for Exercise, <%= exercise.activity %> </h1>
  <section>
    <table>
      <thead>
        <tr>
          <th>Set Number</th>
          <th>Reps</th>
          <th>Weight</th>
        </tr>
      </thead>
      <tbody>
        <% exercise.sets.forEach(set => { %>
          <tr>
            <td><%= set.setNum %> </td>
            <td><%= set.reps %> </td>
            <td><%= set.weight %> </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
    <a href="/workouts/<%= workout._id %>/exercises/<%= exercise._id %>/newset">
      <button>Add set</button>
    </a>
  </section>
</main>

<%- include('../partials/footer') %>